* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
    position:relative;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}
/* By <a rel="nofollow" class="external text" href="https://www.flickr.com/people/84301190@N00">Rosino</a> - <a href="//commons.wikimedia.org/wiki/Flickr" class="mw-redirect" title="Flickr">Flickr</a>: <a rel="nofollow" class="external text" href="https://www.flickr.com/photos/84301190@N00/5068058105">ripe for the harvest</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0" title="Creative Commons Attribution-Share Alike 2.0">CC BY-SA 2.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=12431257">Link</a> */
.header {
    background:url(grapes1750x350.jpg);
    height: 350px;
}

.brand {
    color: violet;
    font-size: 30px;
    vertical-align: middle;
}


/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    /* float: left; */
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
    margin-right: 15px;
    margin-top: 12px;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

/* google fonts */

h2.title {
    font-family: 'Kodchasan', sans-serif;
    font-size: 2rem;
    margin:0rem;
}
a.title {
    font-family: 'Kodchasan', sans-serif;
    font-size: 1rem;
}

.winery {
    background:url(winery400x200.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 200px;
}

.main-photo {
    position:absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgb(255,255,255,.6)
}